*{
    margin: 0;
    padding: 0;
    font-family:"poppins",sans-serif;
}
.arriere_plan{
    width: 100%;
    min-height: 100%;
    background-color: aqua;
}
header{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    height: 60px;
    background-color: rgba(15, 15, 27, 0.87);
}
header .username,.date,.deconnect p{
    color: aliceblue;
    text-transform: capitalize;
}

section{
    display: flex;
    
}
.page-menu{
    width: 500px;
    height: 500px;
    background-color: rgba(15, 15, 27, 0.87);
}
.entete{
    width: 100%;
    height: 60px;
    background: rgb(4, 236, 198);
    font-size: 30px;
    font-family: Algerian;
    text-align: center;
    padding-top: 15px;
}
.page-menu ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 22px;
    color: aliceblue;
    padding-left: 60px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgb(247, 249, 250);
    text-decoration: none;
    transition: .4s;
    border-radius: 20px;
    
}
ul li:hover a{
    padding-left: 90px;
    background-color: rgb(4, 236, 198);
    color: black;
    
}
.page-descrip{
    width: 100%;
    height: 500Px;
    background-color: blueviolet;
    background-image: url(../Image/flyers.jpg);
}
.titre-defilant{
    padding-top: 10px;
    padding-bottom:  60px;
}
.titre-defilant,marquee,h1{
    color: blue;
    font-family: initial;
    font-size: 1.4em
}
.but-enregister{
    margin-left: 90px;
}
.but-nouv-tache{
    width: 250px;
    height: 40px;
    border-radius: 6%;
    background-color: blue;
    color: aliceblue;
    margin-bottom: 12px
    
}
.btn-deconnect{
    width: 90px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    color: aliceblue;
    
}
.page-tab{
    flex-grow: 1;
    display: block;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    height: 290px;
    margin: 2vh auto;
    padding: 7px;
    box-shadow: 2px 2px 10px;
    gap: 20px;
}
.btn-vert,.btn-red,.btn-yellow{
    border-style: none;
    width: 4px;
    height: 20px;
    padding: 6px 12px;
    background-color: black;
    color: white;
}
.btn-red{
    background-color: red
}

.record{
    width: 100%;
    user-select: none;
    text-align: left;
    
}
.record th{
    height: 50px;
    padding-left: 20px;
    background-color: blue;
    color: white;
    font-size: 1.2rem;       
}
.record td{
    height: 5px;
    padding-left: 20px;    
}
.record tr:hover{
    background-color: gray;
}
.record tr{
    text-align: center;
}
/*.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000090;
}*/
.contenaire-onglet{
    width: 100%;
    height: 20%;
    padding: 0px;
    display: flex;
    border-bottom: 1px solid#333;
    background-color: antiquewhite;
}
.onglet{
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 700;
    cursor: pointer;
}
.onglet:not(:nth-child(2)){
    border-right: 1px solid #333;
}
.contenu{
    height:35% ;
    width: 100%;
    position: absolute;
    background-color: aqua;
    opacity: 0;
}
.active{
    background-color: midnightblue;
    color: aliceblue;
    transition: all 0.3s ease;
}
.activecontenu{
    animation: fade 0.5s forwards;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

footer{
    width: 100%;
    height: 80px;
    background-color: chartreuse;
}